@model BuildMaterialsApp.Models.Product.ProductDetailVM
@{
    ViewData["Title"] = "Details";
}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="~/css/DetailsStyle.css" asp-append-version="true" />
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<body>
    <div class="container" style="background-color:white;">
        <div class="row">
            <div class="col-xs-4 item-photo">
                <img style="width:350px;" src="@Html.DisplayFor(model => model.Picture)" alt="Image" />

            </div>
            <div class="col-xs-5" style="border:0px solid gray">
                <!-- Datos del vendedor y titulo del producto -->
                <h3> @Html.DisplayFor(model => model.ProductName)</h3>
                <h5 style="color:#337ab7"> @Html.DisplayFor(model => model.BrandName) <a href="/Product/Index"> @Html.DisplayFor(model => model.CategoryName)</a> · <small style="color:#337ab7">(5 stars)</small></h5>

                <!-- Precios -->
                <h6 class="title-price"><small>Great Offer</small></h6>
                <h3 style="margin-top:0px;">@Html.DisplayFor(model => model.Price)</h3>

                <!-- Detalles especificos del producto -->
                <div class="section">
                    <h6 class="title-attr" style="margin-top:15px;"><small>Discount</small></h6>
                    <div>
                        <div>@Html.DisplayFor(model => model.Discount)</div>
                    </div>
                </div>
                <div class="section" style="padding-bottom:5px;">
                    <h6 class="title-attr"><small>Quantity</small></h6>
                    <div>
                        <div> @Html.DisplayFor(model => model.Quantity) </div>
                    </div>

                </div>

                
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-light" style="color:black;">Edit</a>
            <a asp-action="Index" class="btn btn-outline-light" style="color:black;">Back to List</a>

        </div>
    </div>
</body>
</html>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

